.picture {
  filter: contrast(1);
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
  overflow: hidden;
  // box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
  &:hover {
    filter: grayscale(0);
    // box-shadow: rgba(100, 100, 111, 0.6) 0px -2px 10px 0px;
    transition: all 0.6s ease-in-out;
  }
}
