.post-tile--strip {
  flex-direction: row;

  .post-tile--copy {
    max-width: 70%;
    min-width: 70%;
    padding-right: Rem(10px);
  }

  .post-tile--picture {
    max-width: 30%;
    min-width: 30%;
    flex: 1;
    order: 2;

    @include respond-to(tablet) {
      img {
        width: auto !important;
        height: 100%;
        max-height: Rem(150px);
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
