.post-tile {
  border-bottom: Rem(1px) solid $border;
  display: flex;
  flex-direction: column;
  padding-bottom: Rem(10px);
  padding-top: Rem(10px);
  position: relative;
  width: 100%;
  &:last-child {
    border-bottom: none;
  }
}

.post-tile--picture {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  margin-bottom: Rem(10px);
  height: 30vh;
  max-height: Rem(150px);
  @include respond-to(tablet) {
    height: auto;
  }

  img {
    height: 20vh;
    object-fit: cover;
    width: 100%;
    @include respond-to(tablet) {
      max-height: 100%;
      height: 100%;
    }
  }
}

.post-tile--category {
  color: $red;
  display: block;
  font-family: "Irvin Heading";
  text-transform: uppercase;
  margin-bottom: Rem(10px);
  margin-top: Rem(10px);
}

.post-tile--author {
  font-family: "Neutraface";
  margin-bottom: Rem(10px);
}
.post-tile--date {
  font-size: 11px;
  color: #999999;
}
.post-tile--title {
  margin-bottom: Rem(10px);
  &.feature {
    font-size: Rem(36px);
  }
}

.post-tile--excerpt {
  margin-bottom: Rem(10px);
}

body.dark {
  .post-tile {
    border-color: $black;
  }
  .post-tile--category {
    color: $light-mode;
  }
}
body.light {
  .post-tile {
    border-color: $grey;
  }

  .post-tile--category {
    color: $red;
  }
}
