.gallery-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  min-width: 33%;
  max-width: Rem(400px);
  box-sizing: border-box;
  padding: 4vw;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: scale(1.03);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
