$black: #000000;
$grey: #d1d1d1;
$dark-grey: #272929;
$white: #ffffff;
$red: #db1c1c;

$maxWidth: Rem(1600px);
$pageWidth: Rem(1470px);
$headerHeight: Rem(160px);
$dark-mode: $dark-grey;
$light-mode: $white;
