@font-face {
    font-family: '';
    src: url('97729504d7b373a448f5a45b28756330.woff2') format('woff2'),
        url('97729504d7b373a448f5a45b28756330.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

