.post-header__picture {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: calc(100vh - 160px);
  margin-bottom: Rem(10px);
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
  }
}

.post-paragraph {
  margin-bottom: Rem(10px);
  margin-top: Rem(20px);
  font-size: Rem(21px);
  font-weight: 400;
  line-height: 1.5;
}
