.text-strip {
  align-items: flex-end;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  display: flex;
  height: auto;
  margin: 0 auto;
  margin-bottom: Rem(20px);
  margin-top: Rem(20px);
  // @include respond-to(desktop) {
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  // }
  h2 {
    font-family: "AdobeCarlsonPro";
    font-size: Rem(15px);
    font-weight: 100;
    padding-bottom: Rem(20px);
    @include respond-to(tablet) {
      font-size: Rem(19px);
    }
  }
  a {
    color: rgb(8, 121, 191);
  }

  img {
    max-width: Rem(70px);
    margin-right: Rem(20px);
  }
}

body.dark {
  .text-strip {
    border-color: $black;
  }
}
body.light {
  .text-strip {
    border-color: $grey;
  }
}
