.text-strip {
  align-items: center;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  display: flex;
  height: Rem(100px);
  // max-width: $pageWidth;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: Rem(20px);
  margin-top: Rem(20px);
  * {
    font-family: "AdobeCarlsonPro";
    font-size: Rem(19px);
    font-weight: 100;
  }
  a {
    color: rgb(8, 121, 191);
  }

  img {
    max-width: Rem(70px);
    margin-right: Rem(20px);
  }
}

body.dark {
  .text-strip {
    border-color: $black;
  }
}
body.light {
  .text-strip {
    border-color: $grey;
  }
}
