.category-layout {
  max-width: Rem(719px);
  margin: 0 auto;
  margin-top: Rem(180px);
}

.category-post__title {
  display: block;
  margin-bottom: Rem(20px);
  font-size: Rem(30px);
}

.category-list {
  padding: Rem(20px);
}
